header {
    display: grid;
    justify-items: center;
}

.social {
    height: 100%;
    width: auto;
}


nav {
    display: block;
    background: transparent;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #231f20;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #58585a;
    padding: .8rem 2vw;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,0.2);
}
nav ul li.active a {
    background-color: rgba(0,0,0,0.08);
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.1);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburger-btn span:nth-child(1) {
    display: block;
}

#hamburger-btn span:nth-child(2) {
    display: none;
}

#hamburger-btn.open span:nth-child(1) {
    display: none;
}

#hamburger-btn.open span:nth-child(2) {
    display: block;
}

